voice-patient-call-system\nurse-app\node_modules
Voice_Based_Patient_Call_System\Backend_CareConnect\node_modules
Voice_Based_Patient_Call_System\Frontend_MainApp_CareConnect\node_modules
Voice_Based_Patient_Call_System\Frontend_AdminApp_CareConnect\node_modules
Voice_Based_Patient_Call_System\Frontend_MainApp_CareConnect\.env